* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Arial;
  color: #333;
  background-color: #f7f9ff;

  height: 100vh;
  position: relative;
}

/* ******************************* */
/* ICON */
/* ******************************* */

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* ******************************* */
/* HIDDEN */
/* ******************************* */

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 1s;
}

.none {
  display: none !important;
}
